* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #D198B7;
}
h1{
    font-family: 'Abril Fatface', 'cursive';
}
p{
    font-family: 'Abril Fatface', 'cursive';
    font-size: 15px;
    color: black;
}
.eximage{

    font-size: 13px;
  color:rgb(192, 191, 191);
  font-family: 'ALTERNATE GOTHIC';
  background-color: pink;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
  width: 400px;
  height: 390px;
  border-radius: 10px;
  float: left;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 40px;

}
.a{
    width:300px;
    height: 200px;
    margin-top: 5px;
}

.b{
    width:300px;
    height: 200px;
    margin-top: 5px;
}
.c{
    width:300px;
    height: 200px;
    margin-top: 5px;
}
.d{
    width:300px;
    height: 200px;
    margin-top: 5px;
}
.e{
    width:300px;
    height: 200px;
    margin-top: 5px;
}
.f{
    width:300px;
    height: 200px;
    margin-top: 5px;
}
@media only screen and (max-width: 720px) {
.eximage{
    float: left;
    margin-bottom: 30px;
    margin-left: 70px;
   }
}