* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #B80A61;
}
.navbar {
    background-color: #503243;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-link {
    font-family: 'ALTERNATE GOTHIC';
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
.nav-link:hover {
    color: #B80A61;
}
.sticky {
    position: fixed;
    top: 50;
    width: 100%;
}
.logo {
    padding-left: 20px;
    width: 100px;
    height: 100px;

}
section {
    padding-top: 30px;
}
.rows1 {
    max-width: 100%;
    position: relative;
    bottom: 130px;
}
.btn:hover{
    background-color: #B80A61;
}

/* footer css start */

.footer-div {
    background-color: #503243;
}

.con-title {
    font-family: Arial;
    color: white;
    font-weight: bold;
}
table{
    padding-left: 50px; 
}
.footer-text {
    color: white;
    margin-left: 50px; 
}
#footer-about {
    text-align: justify;
    padding-left: 30px;
    color: white;
    padding-right: 30px;
}
.con-social {
    padding-left: 30px;
}

/* footer css end */
